<nav aria-label="breadcrumb" class="border-bottom shadow-sm bg-white p-3">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item cursor-pointer" (click)="goBack()"><a><span class="fa fa-arrow-left mr-2"></span> Back |</a></li>
    <li class="breadcrumb-item no-before"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">View Synchronizer Error</li>
  </ol>
</nav>


<div class="card card-body m-3">
  <div class="toolbar mb-3">
    <div class="btns">
      <button type="button" class="btn btn-outline-primary mr-5" (click)="resolve()" >Resolve</button>
      <button type="button" class="btn btn-outline-primary" (click)="resolveAll()" >Resolve All</button>
      <span class="spacer-line">|</span>
      <button type="button" class="btn btn-outline-primary mr-5" (click)="retry()" >Retry</button>
      <button type="button" class="btn btn-outline-primary" (click)="retryAll()" >Retry All</button>
      <span class="spacer-line">|</span>
      <button type="button" class="btn btn-outline-primary" (click)="delete()" >Delete</button>
      <button type="button" class="btn btn-outline-primary ml-5" (click)="deleteAll()" >Delete All</button>
      <span class="spacer-line">|</span>
      <button type="button" class="btn btn-outline-primary" (click)="exportPK()" >Export</button>
    </div>
  </div>
  <div class="card card-body">
    <div class="search-area">
      <div class="d-flex align-items-center">
        <div class="mr-5">Error Date:</div>
        <form class="form-inline">
          <div class="form-group mb-0">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd"
                     name="dp" [(ngModel)]="dateFrom" ngbDatepicker #d1="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="d1.toggle()" type="button"><span class="fa fa-calendar"></span></button>
              </div>
              <div class ="input-group-append">
                <input type="time" [(ngModel)]="timeFrom" name="tp" step="1"/>
              </div>
            </div>
          </div>
        </form>
        <div class="ml-5 mr-5">~</div>
        <form class="form-inline">
          <div class="form-group mb-0">
            <div class="input-group">
              <input class="form-control" placeholder="yyyy-mm-dd"
                     name="dp" [(ngModel)]="dateTo" ngbDatepicker #d2="ngbDatepicker">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="d2.toggle()" type="button"><span class="fa fa-calendar"></span></button>
              </div>
              <div class ="input-group-append">
                  <input type="time" [(ngModel)]="timeTo" name="tp" step ="1"/>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="search-error-type">
        <span>Error type:</span>
        <div class="group-search">
          <input
            id="typeahead-focus"
            type="text"
            class="form-control text-search"
            [(ngModel)]="selectedErrorType"
            [ngbTypeahead]="search"
            (focus)="focus$.next($any($event).target.value)"
            (click)="click$.next($any($event).target.value)"
            #instance="ngbTypeahead"
          />
          <i class="bi bi-x" (click)="selectedErrorType = ''" [style.visibility]="selectedErrorType ? 'visible' : 'hidden'"></i>
        </div>
      </div>
      <div class="search-error-state">
        <span style="margin-left: 10px;">Error state:</span>
        <div class="group-search">
          <input
            id="typeahead-focus"
            type="text"
            class="form-control text-search"
            [(ngModel)]="selectedErrorState"
            [ngbTypeahead]="searchErrorState"
            (focus)="focusErrorState$.next($any($event).target.value)"
            (click)="clickErrorState$.next($any($event).target.value)"
            #instanceErrorState="ngbTypeahead"
          />
          <i class="bi bi-x" (click)="selectedErrorState = ''" [style.visibility]="selectedErrorState ? 'visible' : 'hidden'"></i>
        </div>
      </div>
      <button type="button" class="btn btn-primary btn-search" (click)="onSearch()">Search</button>
    </div>
  </div>
</div>

<div class="card card-body m-3">
  <div class="infomation">
    <div class="info-text" *ngIf="operationCount">
      Total Insert: <span (click)="filterState(['INSERT', 'c']);selectedInsert=true;selectedUpdate=false;selectedDelete=false;" [ngClass]="selectedInsert ? 'seclected-state' : ''" class="text-success cursor-pointer">{{operationCount.totalInsert}}</span>
      Total Update: <span (click)="filterState(['UPDATE', 'u']);selectedInsert=false;selectedUpdate=true;selectedDelete=false;" [ngClass]="selectedUpdate ? 'seclected-state' : ''" class="text-danger cursor-pointer">{{operationCount.totalUpdate}}</span>
      Total Delete: <span (click)="filterState(['DELETE', 'd']);selectedInsert=false;selectedUpdate=false;selectedDelete=true;" [ngClass]="selectedDelete ? 'seclected-state' : ''" class="text-warning cursor-pointer">{{operationCount.totalDelete}}</span>
      <i class="bi bi-x" *ngIf="operationState.length > 0" (click)="clearFilterState()"></i>
    </div>
  </div>
  <div class="container-fluid p-0" style="min-height: 400px;">

    <table class="table table-hover table-bordered mt-3">
      <thead>
      <tr>
        <th class="text-center no" scope="col"><input class="" type="checkbox" [checked]="isSelectAll" id="checkboxNoLabel" (click)="selectItemAllItems($event)" /></th>
        <th class="text-center" scope="col">SQL Redo</th>
        <th class="text-center" scope="col">Error message</th>
        <th class="text-center" scope="col">Error type</th>
        <th class="text-center" scope="col" style="width: 85px;">State <i style="cursor: pointer;" class={{sortStateIcon}} (click)="sortErrorState()"></i></th>
        <th class="text-center" scope="col">Error time <i style="cursor: pointer;" class={{sortErrorTimeIcon}} (click)="sortErrorTime()"></i></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let doc of errors;let i = index" style="height: 51px;cursor: pointer;">
        <td class="text-center" style="cursor: initial;"
            (click)="onSelectionStart(doc)"
            (mouseup)="onSelectionEnd($event, doc)">
          <input type="checkbox" id="checkboxNoLabel" [checked]="doc.checked"/>
        </td>
        <td class="sql-redo" (click)="viewDetailError(doc)"> {{ doc.sqlRedo }} </td>
        <td class="error-message" (click)="viewDetailError(doc)"> {{ doc.errorMessage }} </td>
        <td class="state text-center" (click)="viewDetailError(doc)"> {{ doc.errorType }} </td>
        <td class="state text-center" (click)="viewDetailError(doc)">
          <span *ngIf="doc.state === 'RESOLVED'" class="status state-running bg-success text-white">{{doc.state}}</span>
          <span *ngIf="doc.state === 'ERROR'" class="status bg-warning text-danger">{{doc.state}}</span>
          <span *ngIf="doc.state === 'PROCESSING'" class="status bg-info text-white">{{doc.state}}</span>
        </td>
        <td class="error-time text-center"> {{ doc.errorTime | date: 'yyyy.MM.dd / HH:mm' }} </td>
      </tr>
      </tbody>
    </table>
    <div class="no-data" *ngIf="totalPage===0">No data</div>
    <app-pavigation [totalPage]="totalPage" (onChangePage)="handleChangePage($event)"
                    (onChangePageSize)="handleChangePageSize($event)"></app-pavigation>
  </div>
</div>
