::ng-deep body {
    background-color: #fff !important;
}
.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    opacity: 0.8;
    transform: translate(-50%, -50%);
    display: none;
    color: white !important;
    &.show {
        display: block;
    }
}
.modal-backdrop-spinner {
    position: absolute;
    z-index: 1;
}

.img-responsive {
    width: 100px;
  height: 100px;
}

.body-login {
  height: 100vh;
  width: 100vw;
  background-color: #f9fafb;
}

.login-card {
  width: 450px;
}

.card-container {
  height: calc(100vh - 40px);
}
.actions{
  margin-top: 60px;
}
.card-title{
  margin-bottom: 60px;
}
@media screen and (max-width: 450px) {
  .login-card {
    width: 100vw;
    height: calc(100vh - 40px);
  }
}
.btn-signin{
  width: 100px;

}
