thead {
  border-right: 1px solid #dee2e6;
  border-left: 1px solid #dee2e6;

  th {
    padding: .5rem;
  }
}

tbody {
  td {
    padding-left: .5rem;
    padding-right: .5rem;
  }
}

.check-col {
  width: 50px;
}

.action-col {
  width: 150px;
}
