.colum-id {
    .col {
        position: relative;
        .bi-search {
            position: absolute;
            right: 14px;
            top: 5px;
            cursor: pointer;
        }
    }
}

#typeahead-column-id {
    position: relative;
}

.menu-hint {
    border-bottom: 1px solid #ced4da;
    margin-left: 3px;
}

.invalid-feedback {
    max-width: 350px;
}