.btns {
    text-align: right;
    margin-bottom: 50px;
    .add-new {
        margin-right: 10px;
    }
    .btn-add-new-group {
        margin-bottom: 10px;
    }
    .add-more-group {
        width: 65px;
    }
}

.sync-type {
  min-width: 120px;
  margin-right: 10px;
}

.division {
  margin-right: 10px;
  min-width: 120px;
}
.domain-table {
    margin-right: 15px;
}

input[type='radio'] {
    margin-right: 3px;
}

.block-item {
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding: 3px 10px;
    padding-block-start: 0.35em;
    padding-block-end: 0.625em;
    border: 1px solid #a5a5a6;
    position: relative;
}

.remove-rd {
  position: absolute;
  top: 3px;
  right: 0px;
  cursor: pointer;
}
.row{
  label.control-label{
    margin-bottom: 3px;
  }
}

.comparison-container {
    padding: 10px;
    margin-bottom: 15px;
}

.link-sync {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .link-sync-input {
        display: flex;
        align-items: center;
        padding: 5px;
        width: 550px;
        .bi-x {
            margin-left: 5px;
            cursor: pointer;
        }
    }
}

.container-consumer-group {
  display: flex;
  align-items: center;
  gap: 0 17px;
  margin: 10px 0;

  .input-consumer-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 10px;
    flex: 1;
    label {
      min-width: 100px;
    }
  }
}

.detect-pk{
  width: 190px;
}
