<nav aria-label="breadcrumb" class="border-bottom shadow-sm bg-white p-3">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item cursor-pointer" (click)="goBack()"><a><span class="fa fa-arrow-left mr-2"></span> Back |</a></li>
    <li class="breadcrumb-item no-before"><a href="#">Home</a></li>
    <li class="breadcrumb-item" aria-current="page"><a routerLink="/synchronize">Synchronizer management</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
  </ol>
</nav>

<div class="m-3 d-flex flex-column justify-content-center" *ngIf="syncInfo">
  <div class="card card-body">
    <div class="row col-md-12 col-xl-8 m-auto">

      <div class="mt-5">
        <div class="form-group">
          <label class="control-label required" for="topic-name">Topic name</label>
          <div class="input-group">
            <div class="input-group-prepend" *ngIf="division===Division.Postgres2Oracle">
              <span class="input-group-text" id="validationTooltipUsernamePrependREV">REV_</span>
            </div>
            <input class="form-control" aria-describedby="validationTooltipUsernamePrepend" [ngClass]="{'is-invalid' : invalidTopicName}" required="required" type="text"
                   id="topic-name" [(ngModel)]="syncInfo.topicName" placeholder="Topic Name">
          </div>
        </div>

        <div class="form-group">
          <label for="synchronizerName">Synchronizer Name</label>
          <input class="form-control" type="text" required id="synchronizerName" [(ngModel)]="syncInfo.synchronizerName"
                 placeholder="Synchronizer Name">
        </div>
        <div class="form-group mb-0 d-flex flex-md-column">
          <div class="mb-2">
            <label class="sync-type">Synchronizer Type</label>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" id="DT" name="syncType" [value]="1" (click)="selectDomainTable()" [disabled]="isFromEdit" [checked]="syncType===SyncType.DT">
              <label for="DT" style="min-width: 110px" class="form-check-label">Domain table</label>
            </div>
          </div>

          <div class="mb-2">
            <label class="division">Division</label>
            <ng-container class="domain-table" *ngIf="syncType===SyncType.DT">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="Oracle2Postgres" name="division" [value]="0" (click)="selectOracle2Postgres()" [checked]="division===Division.Oracle2Postgres">
                <label for="Oracle2Postgres" class="form-check-label">Oracle-To-Postgres</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="Postgres2Postgres" name="division" [value]="1" (click)="selectPostgres2Postgres()" [checked]="division===Division.Postgres2Postgres">
                <label for="Postgres2Postgres" class="form-check-label">Postgres-To-Postgres</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="Postgres2Oracle" name="division" [value]="2" (click)="selectPostgres2Oracle()" [checked]="division===Division.Postgres2Oracle">
                <label for="Postgres2Oracle" class="form-check-label">Postgres-To-Oracle</label>
              </div>
            </ng-container>
          </div>

          <div class="mb-2">
            <label class="division">Enable DML</label>
            <div class="form-check form-check-inline">
              <input type="checkbox" class="form-check-input" id="enableTruncate" [(ngModel)]="syncInfo.enableTruncate" [checked]="syncInfo.enableTruncate"/>
              <label class="form-check-label" for="enableTruncate">TRUNCATE</label>
            </div>
          </div>

          <div class="mb-2">
            <label class="division">SQL Operation</label>
            <div class="form-check form-check-inline mt-3">
              <input type="checkbox" class="form-check-input" id="isBatch" [(ngModel)]="syncInfo.isBatch" [checked]="syncInfo.isBatch"/>
              <label class="form-check-label" for="isBatch">Enable batch</label>
            </div>
            <div class="form-check form-check-inline mt-3">
              <input type="checkbox" class="form-check-input" id="isUpsert" [(ngModel)]="syncInfo.isUpsert" [checked]="syncInfo.isUpsert"/>
              <label class="form-check-label" for="isUpsert">Enable Upsert Query on Insert</label>
            </div>
            <div class="form-check form-check-inline mt-3">
              <input type="checkbox" class="form-check-input" id="isChangeInsertOnFailureUpdate" [(ngModel)]="syncInfo.isChangeInsertOnFailureUpdate" [checked]="syncInfo.isChangeInsertOnFailureUpdate"/>
              <label class="form-check-label" for="isChangeInsertOnFailureUpdate">Enable Change Insert Query On Failure Update</label>
            </div>
            <div class="form-check form-check-inline mt-3">
              <input type="checkbox" class="form-check-input" id="isAllColumnConditionsOnUpdate" [(ngModel)]="syncInfo.isAllColumnConditionsOnUpdate" [checked]="syncInfo.isAllColumnConditionsOnUpdate"/>
              <label class="form-check-label" for="isAllColumnConditionsOnUpdate">Enable All Column Condition On Update Query</label>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="synchronizerName">Max Poll Records</label>
          <input class="form-control" type="number" required id="maxPollRecords" [(ngModel)]="syncInfo.maxPollRecords">
        </div>

        <hr class="my-3"/>
      </div>

      <div class="form-group">
        <label class="control-label" for="consumerGroup">ConsumerGroup</label>
        <div class="input-consumer-group">
          <input class="form-control" type="text" id="consumerGroup" [(ngModel)]="syncInfo.consumerGroup" placeholder="Consumer Group">
        </div>
      </div>

      <div class="form-group">
        <label class="control-label">Constraint</label>
        <div class="d-flex justify-content-between align-items-center">

          <div class="p-2 flex-fill">
            <label class="control-label" for="primarykey">Primary keys</label>
            <input class="form-control" type="text" id="primarykey" [(ngModel)]="syncInfo.primaryKeys" placeholder="Primary keys">
            <label class="control-label" for="uniquekey">Unique Keys</label>
            <input class="form-control" type="text" id="uniquekey" [(ngModel)]="syncInfo.uniqueKeys" placeholder="Unique Keys">
          </div>

          <div class="flex-shrink-1">
            <div class="form-check form-check-inline ms-3">
              <input disabled type="checkbox" class="form-check-input" id="isPartitioned" [checked]="syncInfo.isPartitioned"/>
              <label class="form-check-label" for="isPartitioned">Partitioned</label>
            </div>
          </div>

          <div class="flex-shrink-1">
            <button type="button" class="btn btn-outline-primary detect-pk" [disabled]="syncInfo.detectKey" (click)="detechPrimaryKeys($event, syncInfo)" title="Update Primary Key">
              <span [class.fa-spinner]="syncInfo.detectKey" class="fa fa-spin mr-2"></span>
              Detect Primary Key
            </button>
          </div>
        </div>
      </div>

      <div class="form-group">
        <ng-container *ngFor="let item of syncInfo.syncRdRequestParams; let i=index">
          <div class="position-relative mb-3">
            <div class="row mb-3 mt-2">
              <div class="col">
                <label for="sourceDatabase" class="control-label required">Source Database</label>
                <input class="form-control custom-control-inline" [ngClass]="{'is-invalid' : item.invalidSourceDB}" [(ngModel)]="item.sourceDatabase" type="text" id="sourceDatabase"
                       placeholder="Source Database">
              </div>
              <div class="col">
                <label for="sourceSchema" class="control-label required">Source Schema</label>
                <input class="form-control custom-control-inline" type="text" [ngClass]="{'is-invalid' : item.invalidSourceSchema}" [(ngModel)]="item.sourceSchema" id="sourceSchema"
                       placeholder="Source Schema">
              </div>
              <div class="col">
                <label for="sourceTable" class="control-label required">Source Table</label>
                <input class="form-control custom-control-inline" type="text" [ngClass]="{'is-invalid' : item.invalidSourceTable}" [(ngModel)]="item.sourceTable" id="sourceTable" placeholder="Source Table">
              </div>
            </div>
            <div class="row mb-3">
              <div class="col">
                <div class="form-group">
                  <label class="control-label required" for="targetDatabase">Target Database</label>
                  <input class="form-control" required="required" [ngClass]="{'is-invalid' : item.invalidTargetDB}"
                         type="text" id="targetDatabase" (keyup)="validateTargetDatabase()" [(ngModel)]="item.targetDatabase"
                         placeholder="Target Database">
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label class="control-label required" for="targetSchema">Target Schema</label>
                  <input class="form-control" required="required" type="text" id="targetSchema"
                         [ngClass]="{'is-invalid' : item.invalidTargetSchema}" (keyup)="validateTargetSchema()"
                         [(ngModel)]="item.targetSchema" placeholder="Target Schema">
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label class="control-label required" for="targetTable">Target Table</label>
                  <input class="form-control" type="text" required="required" id="targetTable"
                         [ngClass]="{'is-invalid' : item.invalidTargetTable}" (keyup)="validateTargetTable()"
                         [(ngModel)]="item.targetTable" placeholder="Target Table">
                </div>
              </div>
            </div>

            <div>
              <fieldset>
                <legend>Comparison config</legend>
                <div class="py-3">
                  <div class="form-check form-check-inline mb-3">
                    <input type="checkbox" class="form-check-input" id="isComparable" [(ngModel)]="item.isComparable" [checked]="item.isComparable"/>
                    <label class="form-check-label" for="isComparable">Enable comparison</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input" id="enableColumnComparison" [(ngModel)]="item.enableColumnComparison" [checked]="item.enableColumnComparison"/>
                    <label class="form-check-label" for="enableColumnComparison">Enable column comparison</label>
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="sourceCompareDatabase">Source Compare Database</label>
                    <input class="form-control" type="text" id="sourceCompareDatabase" name="sourceCompareDatabase" [(ngModel)]="item.sourceCompareDatabase" rows="item.numberRows"/>
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="sourceQuery">Compare Source Query</label>
                    <textarea class="form-control mb-3" id="sourceQuery" name="sourceQuery" [(ngModel)]="item.sourceQuery" rows="item.numberRows"></textarea>
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="targetCompareDatabase">Target Compare Database</label>
                    <input class="form-control" type="text" id="targetCompareDatabase" name="targetCompareDatabase" [(ngModel)]="item.targetCompareDatabase" rows="item.numberRows"/>
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="targetQuery">Compare Target Query</label>
                    <textarea class="form-control mb-3" id="targetQuery" name="targetQuery" [(ngModel)]="item.targetQuery" rows="item.numberRows"></textarea>
                  </div>
                </div>
              </fieldset>
            </div>

          </div>

        </ng-container>


        <div class="btns">
          <button type="button" class="btn btn-outline-primary add-new" (click)="upSert()">{{isFromEdit ? 'Update' : 'Create'}}</button>
          <button type="button" class="btn btn-outline-primary" routerLink="/synchronize">Cancel</button>
        </div>
      </div>
    </div>
  </div>
