<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- use Spring default values -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <logger name="org.apache" level="ERROR"/>

    <property name="MESSAGE_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS, Asia/Seoul} %-10level [%L] [%.-24thread] %logger{50} %ex{30} - %msg%n" />

    <appender name="Console"
              class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${MESSAGE_PATTERN}</pattern>
        </layout>
    </appender>

    <appender name="FILE"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/dbsync.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${MESSAGE_PATTERN}</pattern>
        </encoder>

        <rollingPolicy
                class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/archived/dbsync-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>30</maxHistory>
            <totalSizeCap>200MB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <logger name="org.apache.kafka" level="INFO" additivity="false"/>
    <logger name="org.apache.kafka.clients.NetworkClient" level="INFO" additivity="false"/>
    <logger name="com.zaxxer.hikari" level="DEBUG" additivity="false" />
    <logger name="org.springframework.jdbc.core.JdbcTemplate" level="INFO" additivity="false"/>
    <logger name="org.springframework.kafka.listener.KafkaMessageListenerContainer" level="WARN" additivity="false"/>

    <root level="INFO">
        <appender-ref ref="FILE" />
        <appender-ref ref="Console" />
    </root>

</configuration>