.warning {
    color: #db0a5b;
}
.warning-italic {
    color: #db0a5b;
    font-style: italic;
}
.info {
    color: #343a40;
}
.modal-header {
    background-color: #efefef;
    .modal-title {
        color: #343a40;
        font-size: 0.875rem;
        font-family: "Noto Sans", sans-serif;
        font-weight: bold;
    }
}
.modal-footer {
    border-top: none;
}