.list-group {
  .list-group-item{
    padding: 1rem 1.5rem;
  }
  .list-group-item:first-child{
    border-top: 0;
  }
  .list-group-item:last-child{
    border-bottom: 0;
  }
}

.result-area{
  min-height: calc(100vh - 300px);
}
.date-label{
  min-width: 80px;
}
.content {
    .toolbar {
        .left {
            i {
                margin-right: 5px;
            }
            .plus {
                font-size: 13px;
            }
        }
    }
    .search-container {
        display: flex;
        padding: 15px;
        justify-content: space-between;
        box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

        .date-area {
            //display: flex;
            //align-items: center;
            margin-right: 20px;
        }
    }

    .search-area {
        display: flex;
        align-items: center;
        .text-search {
            // width: 200px;
            margin-right: 20px;
        }
        label {
            margin-right: 10px;
        }
        button {
            margin-left: 10px;
        }
        select {
            width: 400px;
        }
    }
}

.calendar {
    width: 2.75rem;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=)!important;
    background-repeat: no-repeat;
    background-size: 23px;
    background-position: 50%;
    height: 100%;
}

.import-container {
    .upload-btn-wrapper {
        position: relative;
        overflow: hidden;
        display: inline-block;
    }

    .upload-btn-wrapper input[type=file] {
        width: 91px;
        height: 46px;
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }
}

.dropdown-item.active {
    color: black!important;
}

.show-table {
    i {
        cursor: pointer;
        margin-left: 5px;
    }
}

.information {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .running {
        color: #198754;
        font-weight: bold;
        cursor: pointer;
    }
    .stopped {
        color: #dc3545;
        font-weight: bold;
        cursor: pointer;
    }
    .pending {
        color: #949394;
        font-weight: bold;
        cursor: pointer;
    }
    span {
        margin-right: 20px;
        margin-left: 5px;
    }
    .seclected-state {
        font-size: 15px;
        font-weight: bold;
    }
}

.topic-name-col {
    max-width: 250px;
    word-wrap: break-word;
    .sync-name-info {
        display: flex;
        justify-content: space-between;
        cursor: default;
    }
}

.last-msg-info-col {
    max-width: 155px;
    word-wrap: break-word;
    .last-msg-info {
        display: flex;
        justify-content: space-between;
    }
}

.setting {
    //display: flex;
}

.search-input {
    display: flex;

    .search-topic {
        display: flex;
        align-items: center;
        margin-right: 10px;
    }
    .search-state, .search-division {
        display: flex;
        align-items: center;
        margin-right: 10px;
        label {
            margin-right: 10px;
        }
    }
}

.group-search {
    position: relative;
    .bi-x {
        position: absolute;
        right: 25px;
        top: 6px;
        cursor: pointer;
    }
    #typeahead-focus:hover {
        .bi-x {
            display: block;
        }
    }
}

.sr-only {
    display: none;
}

.synInfo-container {
    .syn-title {
    }
    .bi-clipboard {
        cursor: pointer;
        margin-left: 20px;
    }
    tr:hover {background-color: #d5d5d5;}
}

.col-date {
    width: 150px;
}

.number-resolved {
    font-style: italic;
    color: #198754;
    text-decoration: underline;
}

.ellipsis-name {
    max-width: 400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.number-error {
    cursor: pointer;
    color: red !important;
    font-weight: bold;
}

.info-text {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.container-date-check {
    display: flex;
    gap: 0 10px;
}

.search-source-db {
    margin-right: 10px;
}

.toolbar button, .information button {
  min-width: 70px;
}

@media screen and (max-width: 1366px) {
  .show-table {
    overflow-x: auto;
  }
  table th{
    white-space: nowrap;
  }
}
