<nav aria-label="breadcrumb" class="border-bottom shadow-sm bg-white p-3">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a routerLink="/synchronize">Synchronizer management</a></li>
    <li class="breadcrumb-item active" aria-current="page">Import Synchronizer</li>
  </ol>
</nav>

<div class="card card-body m-3">
  <div class="row justify-content-center my-5 card-main-content">
    <div class="col-lg-6">
      <button [disabled]="uploaded" class="btn btn-primary btn-file mb-4">
        <span>Choose a file…</span>
        <input class="file-input" type="file" accept=".xlsx, .xls" name="file" #fileInput (change)="selectFile($event.target.files)" (click)="$event.target.value=null"/>
      </button>
      <span *ngIf="fileName" class="file-name">{{fileName}}</span>
      <div class="btns">
        <button class="btn btn-outline-primary btn-import" [disabled]="!selectedFiles" (click)="upload()"><span [class.fa-spinner]="uploaded" class="fa fa-spin mr-5"></span> Upload</button>
        <button type="button" class="btn btn-outline-primary" [disabled]="disableCancel" routerLink="/synchronize">Cancel</button>
      </div>
    </div>
  </div>

</div>
