.nav-item {
    display: flex;
    align-items: center;
    a {
        cursor: pointer;
    }
    button {
        position: relative;
    }
    &:hover {
        i {
            display: flex;
        }
    }
}