.toolbar {
  display: flex;
  justify-content: space-between;
  .left {
    i {
      margin-right: 5px;
    }
    .plus {
      font-size: 13px;
    }
  }
}

.card-main-content {
  min-height: calc(100vh - 225px)
}

.server-name {
    max-width: 350px;
    word-wrap: break-word;
  cursor: default;
}

.server-name-th {
    width: 350px;
}

.url {
    max-width: 400px;
    word-wrap: break-word;
}

.checkbox-item {
    width: 50px;
}

.toolbar button {
  min-width: 70px;
}
