<nav aria-label="breadcrumb" class="border-bottom shadow-sm bg-white p-3">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item cursor-pointer" (click)="goBack()"><a><span class="fa fa-arrow-left mr-2"></span> Back |</a></li>
    <li class="breadcrumb-item no-before"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Analysis</li>
  </ol>
</nav>
<div class="card card-body m-3" *ngIf="!compareTopicNames">
  <div class="d-flex justify-content-between align-items-center">
    <div class="flex-grow-1 pe-5">
      <div class="row mb-4 gx-5">
        <div class="col-sm-6 col-xl">
          <div class="d-flex align-items-center">
            <label class="control-label first-label">Database</label>
            <div class="flex-grow-1" style="min-width: 165px">
              <app-multiselect-dropdown [dropdownList]="dbName" [limitSelection]="dbSelection" [disabled]="disabledDB" [width]="-1"
                                        (clearSelected)="clearSelectedDatabase($event)" (selectedItemsOut)="handleSelectDB($event)">
              </app-multiselect-dropdown>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xl">
          <div class="d-flex align-items-center">
            <label class="control-label ">Schema</label>
            <div class="flex-grow-1">
              <app-multiselect-dropdown [dropdownList]="schmName" [limitSelection]="schmSelection" [disabled]="disabledSchema" [width]="-1"
                                        (clearSelected)="clearSelectedSchema($event)" (selectedItemsOut)="handleSelectSchema($event)">
              </app-multiselect-dropdown>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xl cDivision">
          <div class="d-flex align-items-center">
            <label class="control-label">Division</label>
            <div class="flex-grow-1">
              <app-auto-complete [items]="divisions" (clearSelected)="clearSelectedDivision($event)"
                                 [disabled]="disabledDivision" (selectedItem)="handleDivision($event)">
              </app-auto-complete>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xl cTopic">
          <div class="d-flex align-items-center">
            <label class="control-label last-label">Topic</label>
            <div class="flex-grow-1">
              <app-auto-complete [items]="topicNames" (clearSelected)="clearSelectedTopicName($event)"
                                 [disabled]="disabledTopic" (selectedItem)="handleSelectTopic($event)">
              </app-auto-complete>
            </div>
          </div>
        </div>
      </div>
      <ng-container *ngIf="!compareTopicNames">
        <div class="row gx-5">
          <div class="col-sm-6 col-xl align-self-center">
            <div class="d-flex align-items-start">
              <label class="first-label control-label">Graph Type</label>
              <div class="graph-type-options flex-grow-1 d-flex align-items-center justify-content-between">
                <span>
                <input type="radio" id="minute" name="graphType" [value]="1" (click)="viewByMinute()"
                       [checked]="graphType===GraphType.MINUTE">
                <label for="minute" class="ms-1">MINUTE</label>
                </span>
                <span>
                <input type="radio" id="hour" name="graphType" [value]="0" (click)="viewByHour()"
                       [checked]="graphType===GraphType.HOUR">
                <label for="hour" class="ms-1">HOUR</label>
                </span>
                <span>
                <input type="radio" id="day" name="graphType" [value]="0" (click)="viewByDay()"
                       [checked]="graphType===GraphType.DAY">
                <label for="day" class="ms-1">DAY</label>
                </span>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xl">
            <div class="d-flex align-items-center" *ngIf="!isDay">
              <label for="notDay" class="control-label">Date</label>
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" id="notDay" name="dp" [(ngModel)]="dateFrom" ngbDatepicker #d1="ngbDatepicker"
                       aria-describedby="date-btn-addon">
                <button class="btn btn-outline-secondary btn-addon" id="date-btn-addon" (click)="d1.toggle()" type="button"><span class="fa fa-calendar"></span></button>
              </div>
            </div>

            <div class="date customHtmlDateInput center" *ngIf="isDay">
              <label for="start" class="control-label">Date</label>
              <input class="form-control" type="month" id="start" name="start" min="2021-10" [value]="monthFrom" [(ngModel)]="monthFrom">
            </div>
          </div>

          <ng-container *ngIf="!isMinute">
            <div class="col-sm-6 col-xl">
              <div></div>
            </div>
            <div class="col-sm-6 col-xl">
              <div></div>
            </div>
          </ng-container>

          <ng-container *ngIf="isMinute">
            <div class="col-sm-6 col-xl cHour">
              <div class="d-flex align-items-center justify-content-between">
                <label for="fromHour" class="control-label">Hour</label>
                <input class="form-control input-from-to" required="required" type="number" (blur)="validateFromHour()"
                       id="fromHour" [(ngModel)]="fromHour" placeholder="From" min="0" max="23">
                <div class="mx-2"><span class="fa fa-arrow-right"></span></div>
                <input class="form-control input-from-to" required="required" type="number"
                       id="toHour" [(ngModel)]="toHour" placeholder="To" min="1" max="24" (blur)="validateToHour()">
              </div>
            </div>
            <div class="col-sm-6 col-xl cPerMinute">
              <div class="d-flex align-items-center justify-content-between">
                <label class="control-label last-label">Per n minute</label>
                <select class="form-control" name="selectedMinute" [(ngModel)]="selectedQuantity" (ngModelChange)="selectedMinute($event)">
                  <option *ngFor="let op of optionMinutes" [value]="op">{{op}}</option>
                </select>
              </div>
            </div>
          </ng-container>
        </div>
      </ng-container>

      <div class="row gx-5 mt-3">
        <div class="col-sm-6 col-xl">
          <div class="d-flex align-items-center">
            <label class="control-label first-label">Chart</label>
            <div class="w-100">
              <ng-select [(ngModel)]="selectedChartType" [clearable]="false">
                <ng-option *ngFor="let type of chartTypes" [value]="type.key">{{type.label}}</ng-option>
              </ng-select>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-xl"></div>
        <div class="col-sm-6 col-xl"></div>
        <div class="col-sm-6 col-xl"></div>

      </div>
    </div>
    <button type="button" class="btn btn-primary btn-view-analytics" (click)="viewAnalytics()">View analytics</button>
  </div>
</div>

<div class="card card-body m-3 card-main-content">
  <app-linechart [chartOptions]="chartOptions" #chartComp
                 (toggleLineKafka)="toggleLineKafka()"
                 (toggleLineProcessed)="toggleLineProcessed()"
  ></app-linechart>
</div>
