.gx-5 {
  --bs-gutter-x: 5rem;
}

.graph-type-options {
  font-size: .9em;
  min-width: 165px;
}
@media screen and (max-width: 1366px) {
  .gx-5 {
    --bs-gutter-x: 2rem;
  }
}
@media screen and (max-width: 1200px) {
  .control-label{
    min-width: 80px !important;
  }
  .cDivision, .cTopic , .cHour, .cPerMinute{
    margin-top: 15px;
  }
}

.card-main-content {
  min-height: calc(100vh - 280px);
}
.control-label{
  margin-right: 10px;
  min-width: 60px;
}
.first-label{
  min-width: 80px;
}
.last-label{
  min-width: 80px;
}
.search-earea {
    display: flex;
    align-items: center;
    gap: 0 20px;
    justify-content: space-between;
    flex-wrap: wrap;

    & > div {
        display: flex;
        align-items: center;
    }

    .date {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .group-datetime {
        & > div {
            label {
                min-width: 40px;
            }
        }
    }
}

.toolbar {
    margin-bottom: 20px;
}

.off-line-area {
    label {
        margin-left: 5px;
    }
}

.selected-minute {
  background-color: #343a40 !important;
  color: white !important;
  border-top-color: #343a40;
  border-bottom: #343a40;
}

.charttype {
    margin-left: 0px;
    margin-right: 20px;
}

.btn-toolbar {
    margin-left: 20px;
    align-items: center;
}

@media screen and (max-width: 1658px) {
    .search-earea {
        .topic {
            margin-top: 20px;
        }
        .schmName {
            flex: 1;
        }
    }
}

@media screen and (max-width: 1652px) {
    .search-earea-grap-type {
        .graph-type-left {
            gap: 0 5px !important;
        }
    }
}


.search-earea-grap-type {
    // justify-content: initial;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 20px;
    .graph-type-left {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        gap: 0 111px;
    }

    .group-datetime {
        flex: 1;
        .fromHour {
            display: flex;
            align-items: center;
            justify-content: center;
            .input-from-to {
                width: 60px;
            }
            & > div {
                display: flex;
                align-items: center;
                justify-content: center;
                label {
                    margin-right: 5px;
                }
            }
        }
        .date {
            label {
                margin-right: 5px;
            }
        }
        .customHtmlDateInput {
            label {
                margin-right: 5px;
            }
        }
    }

    .graph-type-right {
        width: 115px;
    }
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.view-graph-type-date {
    min-width: 70px;
}
