.card-main-content {
  min-height: calc(100vh - 160px);
}

.content {
    height: 80vh;
    overflow: auto;
    background: #232F3E;
    color: #fff;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

}

.toolbar {
    display: flex;
    justify-content: space-between;
}

.number {
    color: #f5aa5b;
    user-select: none;
}

.number-text {
    margin-right: 10px;
}

.modal-xl {
    height: 70vh!important;
}

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1060;
    width: 100%;
    height: 100%;
    padding: 50px;

    overflow-x: hidden;
    overflow-y: auto;

    outline: 0;
    transition: opacity 0.15s linear;
    opacity: 0.5;
    background-color: #000;
    color: #333;

    .log-container {
        display: block;
        width: 100%;
        height: 100%;
        opacity: 1;
        background-color: #fff;

        .content {

        }

    }
}

.modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
  }
