<div class="group-search">
    <input
          id="typeahead-focus"
          type="text"
          [disabled]="disabled"
          class="form-control text-search"
          [(ngModel)]="chooseItem"
          [ngbTypeahead]="search"
          (selectItem)="onSelectedItem($event)"
          (blur)="onBlurSelectedItem($event)"
          (focus)="focus$.next($any($event).target.value)"
          (click)="click$.next($any($event).target.value)"
          [ngClass]="{'is-invalid' : invalidInput}"
          #instance="ngbTypeahead"
    />
    <i class="bi bi-x" (click)="clearSelection()"></i>
  </div>
