<div class="d-flex justify-content-end align-items-center mt-3 mb-5">
  <ng-container *ngIf="!hidePageSize">
    <div class="d-flex justify-content-end align-items-center" *ngIf="totalPage > 0">
      <label class="form-label pe-2">Page size</label>
      <select style="width: 50px" class="form-control" name="selectedMinute" [(ngModel)]="pageSize" (ngModelChange)="changePageSize($event)">
        <option *ngFor="let op of optionMinutes" [value]="op">{{op}}</option>
      </select>
    </div>
  </ng-container>

  <ng-container>
    <nav *ngIf="totalPage > 1">
      <ul class="pagination justify-content-end mb-0 ms-3">
        <li class="page-item" [ngClass]="{'disabled': currentPage === 1}">
          <a class="page-link" aria-label="Previous"
             (click)="handleChangePage(currentPage > 1 ? currentPage - 1 : 1)">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>

        <li *ngFor="let item of paginates" class="page-item" [ngClass]="{'active': currentPage === item.page}">
          <a *ngIf="item.isLink" class="page-link" (click)="handleChangePage(item.page)">{{item.page}}</a>
          <span *ngIf="!item.isLink" class="page-link text-dark">{{item.page}}</span>
        </li>

        <li class="page-item" [ngClass]="{'disabled': currentPage === totalPage}">
          <a class="page-link" aria-label="Next"
             (click)="handleChangePage(currentPage < totalPage ? currentPage + 1 : totalPage)">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </ng-container>

</div>

