<div class="modal-header">
  <h4 class="modal-title">Synchronizer info</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('cancel')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div *ngIf="syncInfo">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <fieldset disabled style="border-color: transparent !important;">
            <div class="form-group">
              <label class="control-label " for="topic-name">Topic name</label>
              <div class="input-group">
                <div class="input-group-prepend" *ngIf="division===Division.Postgres2Oracle">
                  <span class="input-group-text" id="validationTooltipUsernamePrependREV">REV_</span>
                </div>
                <input class="form-control" aria-describedby="validationTooltipUsernamePrepend" [ngClass]="{'is-invalid' : invalidTopicName}" type="text"
                       id="topic-name" [(ngModel)]="syncInfo.topicName" placeholder="Topic Name">
              </div>
            </div>
            <div class="form-group">
              <label for="synchronizerName">Synchronizer Name</label>
              <input class="form-control" type="text" id="synchronizerName" [(ngModel)]="syncInfo.synchronizerName"
                     placeholder="Synchronizer Name">
            </div>
            <div class="mb-2">
              <label class="sync-type">Synchronizer Type:</label> <span class="text-secondary" *ngIf="syncType===SyncType.DT">Domain table</span>
              <label class="division">Division:</label>
              <span class="text-secondary" *ngIf="division===Division.Oracle2Postgres">Oracle-To-Postgres</span>
              <span class="text-secondary" *ngIf="division===Division.Postgres2Postgres">Postgres-To-Postgres</span>
              <span class="text-secondary" *ngIf="division===Division.Postgres2Oracle">Postgres-To-Oracle</span>
              <span class="text-secondary" *ngIf="division===Division.Custom">Custom</span>
            </div>

            <div class="form-group mb-0">
              <label style="min-width: 130px">Enable DML</label>
              <div class="form-check form-check-inline">
                <input type="checkbox" class="form-check-input" id="enableTruncate" [(ngModel)]="syncInfo.enableTruncate" [checked]="syncInfo.enableTruncate"/>
                <label class="form-check-label" for="enableTruncate">TRUNCATE</label>
              </div>
            </div>

            <div>
              <label class="division">SQL Operation</label>
              <div class="form-check form-check-inline mt-3">
                <input type="checkbox" class="form-check-input" id="isBatch" [(ngModel)]="syncInfo.isBatch" [checked]="syncInfo.isBatch"/>
                <label class="form-check-label" for="isBatch">Enable batch</label>
              </div>
              <div class="form-check form-check-inline mt-3">
                <input type="checkbox" class="form-check-input" id="isUpsert" [(ngModel)]="syncInfo.isUpsert" [checked]="syncInfo.isUpsert"/>
                <label class="form-check-label" for="isUpsert">Enable Upsert Query on Insert</label>
              </div>
              <div class="form-check form-check-inline mt-3">
                <input type="checkbox" class="form-check-input" id="isChangeInsertOnFailureUpdate" [(ngModel)]="syncInfo.isChangeInsertOnFailureUpdate" [checked]="syncInfo.isChangeInsertOnFailureUpdate"/>
                <label class="form-check-label" for="isChangeInsertOnFailureUpdate">Enable Change Insert Query On Failure Update</label>
              </div>
              <div class="form-check form-check-inline mt-3">
                <input type="checkbox" class="form-check-input" id="isAllColumnConditionsOnUpdate" [(ngModel)]="syncInfo.isAllColumnConditionsOnUpdate" [checked]="syncInfo.isAllColumnConditionsOnUpdate"/>
                <label class="form-check-label" for="isAllColumnConditionsOnUpdate">Enable All Column Condition On Update Query</label>
              </div>
            </div>

            <div class="form-group">
              <label for="synchronizerName">Max Poll Records</label>
              <input class="form-control" type="number" required id="maxPollRecords" [(ngModel)]="syncInfo.maxPollRecords">
            </div>

            <hr class="mb-0"/>
          </fieldset>

          <fieldset disabled style="border-color: transparent !important;">
            <div class="form-group">
              <label class="control-label" for="consumerGroup">ConsumerGroup</label>
              <div class="input-consumer-group">
                <input class="form-control" type="text" id="consumerGroup" [(ngModel)]="syncInfo.consumerGroup" placeholder="Consumer Group">
              </div>
            </div>
          </fieldset>

          <fieldset disabled style="border-color: transparent !important;">
            <div class="form-group">
              <label class="control-label">Constraint</label>
              <div class="d-flex justify-content-between align-items-center">
                <div class="p-2 flex-fill">
                  <label class="control-label" for="primarykey">Primary keys</label>
                  <input class="form-control flex-grow-1" type="text" id="primarykey" [(ngModel)]="syncInfo.primaryKeys" placeholder="Primary keys">
                  <label class="control-label" for="uniquekey">Unique keys</label>
                  <input class="form-control flex-grow-1" type="text" id="uniquekey" [(ngModel)]="syncInfo.uniqueKeys" placeholder="Unique keys">
                </div>
                <div class="form-check form-check-inline ms-3">
                  <input disabled type="checkbox" class="form-check-input" id="isPartitioned" [checked]="syncInfo.isPartitioned"/>
                  <label class="form-check-label" for="isPartitioned">Partitioned</label>
                </div>
              </div>
            </div>
          </fieldset>

          <fieldset disabled style="border-color: transparent !important;">
            <div class="form-group">
              <label class="form-label">Link Synchronizer Request:</label>
              <div class="block-item link-sync" *ngIf="groupLinkSyn.length>0">
                <div class="link-input">
                  <div class="link-sync-input" *ngFor="let item of groupLinkSyn;let i=index">
                    <input id="typeahead-format" type="text" class="form-control" value={{item}}/>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
        </div>

        <div class="col-12">
          <fieldset disabled style="border-color: transparent !important;">
            <div class="form-group">
              <ng-container *ngFor="let item of syncInfo.syncRdRequestParams; let i=index">
                <div class="position-relative mb-3">
                  <div class="row mb-3 mt-2">
                    <div class="col">
                      <label for="sourceDatabase" class="control-label ">Source Database</label>
                      <input class="form-control custom-control-inline" [ngClass]="{'is-invalid' : item.invalidSourceDB}" [(ngModel)]="item.sourceDatabase" type="text" id="sourceDatabase"
                             placeholder="Source Database">
                    </div>
                    <div class="col">
                      <label for="sourceSchema" class="control-label ">Source Schema</label>
                      <input class="form-control custom-control-inline" type="text" [ngClass]="{'is-invalid' : item.invalidSourceSchema}" [(ngModel)]="item.sourceSchema" id="sourceSchema"
                             placeholder="Source Schema">
                    </div>
                    <div class="col">
                      <label for="sourceTable" class="control-label ">Source Table</label>
                      <input class="form-control custom-control-inline" type="text" [ngClass]="{'is-invalid' : item.invalidSourceTable}" [(ngModel)]="item.sourceTable" id="sourceTable"
                             placeholder="Source Table">
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="col">
                      <div class="form-group">
                        <label class="control-label " for="targetDatabase">Target Database</label>
                        <input class="form-control" [ngClass]="{'is-invalid' : item.invalidTargetDB}"
                               type="text" id="targetDatabase" [(ngModel)]="item.targetDatabase"
                               placeholder="Target Database">
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label class="control-label " for="targetSchema">Target Schema</label>
                        <input class="form-control" type="text" id="targetSchema"
                               [ngClass]="{'is-invalid' : item.invalidTargetSchema}"
                               [(ngModel)]="item.targetSchema" placeholder="Target Schema">
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-group">
                        <label class="control-label " for="targetTable">Target Table</label>
                        <input class="form-control" type="text" id="targetTable"
                               [ngClass]="{'is-invalid' : item.invalidTargetTable}"
                               [(ngModel)]="item.targetTable" placeholder="Target Table">
                      </div>
                    </div>

                    <div>
                      <fieldset>
                        <legend>Comparison config</legend>
                        <div class="comparison-container mt-2">
                          <div class="form-check form-check-inline mb-3">
                            <input type="checkbox" class="form-check-input" id="isComparable" [(ngModel)]="item.isComparable" [checked]="item.isComparable"/>
                            <label class="form-check-label" for="isComparable">Enable comparison</label>
                          </div>
                          <div class="form-check form-check-inline">
                            <input type="checkbox" class="form-check-input" id="enableColumnComparison" [(ngModel)]="item.enableColumnComparison" [checked]="item.enableColumnComparison"/>
                            <label class="form-check-label" for="enableColumnComparison">Enable column comparison</label>
                          </div>
                          <div class="form-group">
                            <label class="control-label" for="sourceCompareDatabase">Source Compare Database</label>
                            <input class="form-control" type="text" id="sourceCompareDatabase" name="sourceCompareDatabase" [(ngModel)]="item.sourceCompareDatabase" rows="item.numberRows"/>
                          </div>
                          <div class="form-group">
                            <label class="control-label" for="sourceQuery">Compare Source Query</label>
                            <textarea class="form-control mb-3" id="sourceQuery" name="sourceQuery" [(ngModel)]="item.sourceQuery" rows="item.numberRows"></textarea>
                          </div>
                          <div class="form-group">
                            <label class="control-label" for="targetCompareDatabase">Target Compare Database</label>
                            <input class="form-control" type="text" id="targetCompareDatabase" name="targetCompareDatabase" [(ngModel)]="item.targetCompareDatabase" rows="item.numberRows"/>
                          </div>
                          <div class="form-group">
                            <label class="control-label" for="targetQuery">Compare Target Query</label>
                            <textarea class="form-control mb-3" id="targetQuery" name="targetQuery" [(ngModel)]="item.targetQuery" rows="item.numberRows"></textarea>
                          </div>
                        </div>
                      </fieldset>
                    </div>

                  </div>
                </div>
              </ng-container>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer d-flex align-items-center justify-content-center">
  <button type="button" class="btn btn-outline-primary" (click)="activeModal.close('Close click')">
    <span [class.fa-spinner]="loaded" class="fa fa-spin mr-5"></span>Cancel
  </button>
</div>
