<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>

    <!-- use the font -->
    <style>
        body {
            font-family: 'Roboto', sans-serif;
        }

        table {
            width: 100%;
            border: 1px solid #ddd;
            border-collapse: collapse;
        }

        table th, table td {
            padding: 10px 15px;
            text-align: left;
            border: 1px solid #ddd;
        }

        table th {
            color: #3d7597;
            width: 200px;
        }
    </style>
</head>
<body>
<p>Dear receivers,</p>
<p>There is an error occurs during database synchronization.</p>

<table>
    <tr>
        <th>Topic</th>
        <td><span th:text="${topicName}"></span></td>
    </tr>
    <tr>
        <th>Error type</th>
        <td><span th:text="${errorType}"></span></td>
    </tr>
    <tr>
        <th>Error time</th>
        <td><span th:text="${errorTime}"></span></td>
    </tr>
    <tr>
        <th>Kafka message</th>
        <td><span th:text="${syncMessage}"></span></td>
    </tr>
    <tr>
        <th>SQL Redo</th>
        <td><span th:text="${sqlRedo}"></span></td>
    </tr>
    <tr>
        <th>Error message</th>
        <td><span th:text="${errorMessage}"></span></td>
    </tr>
    <tr>
        <th>Error environment</th>
        <td><span th:text="${errorEnvironment}"></span></td>
    </tr>
    <tr>
        <th>Error version</th>
        <td><span th:text="${errorVersion}"></span></td>
    </tr>
</table>

<p style="margin-top: 10px">
    Thanks & Best regards,
</p>
<p>DB synchronization system.</p>
</body>
</html>