<nav aria-label="breadcrumb" class="border-bottom shadow-sm bg-white p-3">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">DB Comparison</li>
  </ol>
</nav>

<div class="content">
  <div class="card card-body m-3">
    <div class="toolbar d-flex justify-content-between mb-3">
      <div class="left">
        Status:
        <label ngbTooltip="Comparison is enabled" class="ms-1 text-success" *ngIf="statusComparison">RUNNING</label>
        <label ngbTooltip="Comparison is disabled" class="ms-1 text-secondary" *ngIf="!statusComparison">STOPPED</label>
      </div>
      <div class="right">
        <button type="button" class="btn btn-outline-primary mr-5" (click)="start()">Start</button>
        <button type="button" class="btn btn-outline-primary" (click)="stop()">Stop</button>
        <span class="spacer-line">|</span>
        <button type="button" class="btn btn-outline-primary" (click)="openSchedule(contentSchedule)"><i class="bi bi-gear"></i> Setting</button>
      </div>
    </div>

    <div class="card card-body">
      <div class="d-flex justify-content-between align-items-center">
        <div class="pe-3">
          <div class="d-flex align-items-center justify-content-between mb-3">
            <div class="d-flex align-items-center">
              <label class="me-2 date-label">Compared Date</label>
              <form class="form-inline">
                <div class="form-group mb-0">
                  <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd"
                           (dateSelect)="loadResultByDate($event)"
                           name="dp" [(ngModel)]="dateFrom" ngbDatepicker #d1="ngbDatepicker"
                           aria-label="Compared Date" aria-describedby="date-btn-addon">
                    <button class="btn btn-outline-secondary btn-addon" id="date-btn-addon" (click)="d1.toggle()" type="button"><span class="fa fa-calendar"></span></button>
                  </div>
                </div>
              </form>
            </div>

            <div class="d-flex align-items-center">
              <label class="me-2">State</label>
              <span *ngFor="let state of states" [ngClass]="state.clazz" (click)="selectedStatus(state)">
                <i class="fa fa-check" *ngIf="state.active"></i> &nbsp;{{state.name}}
              </span>
              <i class="bi bi-x-lg ms-2" (click)="removeSelectedState()" [style.visibility]="comparisonState ? 'visible' : 'hidden'"></i>
            </div>

            <div class="d-flex align-items-center">
              <label class="me-2">Table</label>
              <app-auto-complete [items]="tableNames"
                                 [chooseItem]="selectedTableName"
                                 (clearSelected)="clearSelectedTopicName()"
                                 (selectedItem)="selectedTableName=$event">
              </app-auto-complete>
            </div>
          </div>

          <div class="d-flex align-items-center justify-content-between mt-4">

            <div class="d-flex align-items-center">
              <label class="me-2 date-label">Source DB</label>
              <app-auto-complete [items]="sourceDBs"
                                 [chooseItem]="selectedSourceDB"
                                 (clearSelected)="onClearSourceDB()"
                                 (selectedItem)="selectedSourceDB=$event">
              </app-auto-complete>

              <div class="ps-3 d-flex align-items-center">
                <label class="me-2">Source Schema</label>
                <app-auto-complete [items]="sourceSchemas"
                                   [chooseItem]="selectedSourceSchema"
                                   (clearSelected)="onClearSourceSchema()"
                                   (selectedItem)="selectedSourceSchema=$event">
                </app-auto-complete>
              </div>
              <div class="ps-3 d-flex align-items-center">
                <label class="me-2">Target DB</label>
                <app-auto-complete [items]="targetDBs"
                                   [chooseItem]="selectedTargetDB"
                                   (clearSelected)="onClearTargetDB()"
                                   (selectedItem)="selectedTargetDB=$event">
                </app-auto-complete>
              </div>
              <div class="ps-3 d-flex align-items-center">
                <label class="me-2">Target Schema</label>
                <app-auto-complete [items]="targetSchemas"
                                   [chooseItem]="selectedTargetSchema"
                                   (clearSelected)="onClearTargetSchema()"
                                   (selectedItem)="selectedTargetSchema=$event">
                </app-auto-complete>
              </div>
              <div class="ps-3 d-flex align-items-center">
                <label class="me-2">Division</label>
                <app-auto-complete [items]="divisions"
                                   [chooseItem]="selectedDivision"
                                   (clearSelected)="onClearDivision()"
                                   (selectedItem)="selectedDivision=$event">
                </app-auto-complete>
              </div>
            </div>
          </div>
        </div>
        <div>
          <button type="button" class="btn btn-primary" (click)="onSearchALL()">Search</button>
        </div>
      </div>
    </div>

  </div>

  <div class="card card-body m-3">
    <div class="display-content card-main-content">
      <div class="card card-body mb-3" *ngIf="groupDateTime && groupDateTime.length">
        <div class="tabs">
          <ul class="nav nav-pills" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation" *ngFor="let dateTime of groupDateTime;let i=index">
              <button class="nav-link {{dateTime.active ? 'active' : ''}}" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
                      type="button" role="tab" aria-controls="pills-home" aria-selected="true" (click)="getViewResultByDateAndTime(dateTime)">
                {{dateTime.compareDate}} / {{dateTime.compareTime}}
                <i class="bi bi-x" (click)="deleteViewResultByDateAndTime($event, dateTime)"></i>
              </button>
              <span class="spacer-line" *ngIf="i < (groupDateTime.length -1)"> | </span>
            </li>
          </ul>
        </div>
      </div>


      <div class="infomation">
        <div class="info-text">
          <div class="comp-info mb-2">
            Total: <span>{{toLocalString(summary.total)}}</span>
            Same: <span class="text-success">{{summary.equal}}</span>
            Different: <span class="text-warning">{{summary.different}}</span>
            Failed: <span class="text-danger">{{summary.fail}}</span>
            Running: <span class="text-dark">{{calcRunning()}} / {{summary.total}} <span [class.fa-spinner]="checkRemainingLoad()" class="fa fa-spin"></span></span>
          </div>
          <div class="kafka-info">
            Source count: <span class="text-dark">{{summary.sourceCount ? summary.sourceCount.toLocaleString() : 0}}</span>
            Target count: <span class="text-dark">{{summary.targetCount ? summary.targetCount.toLocaleString() : 0}}</span>
            Message behind: <span class="text-dark"> {{toLocalString(summary.msgDtBehind)}}</span>
            <i class="bi bi-info-circle" (click)="viewConsumerGroup(viewKafkaConsumerGroup)"></i>
            <!-- Message RD behind: <span class="text-dark">{{toLocalString(summary.msgRdBehind)}}</span> -->
          </div>
        </div>
        <div>
          <button type="button" class="btn btn-outline-primary" (click)="viewAnalytics()">View analytics</button>
          <label class="spacer-line">|</label>
          <button type="button" class="btn btn-outline-primary mr-5" (click)="compareSelectedItems()">Compare</button>
          <button type="button" class="btn btn-outline-primary" (click)="compareAll()">Compare all</button>
          <label class="spacer-line">|</label>
          <button type="button" class="btn btn-outline-primary" (click)="viewLog()">View Log</button>
          <label class="spacer-line">|</label>
          <button type="button" class="btn btn-outline-primary mr-5" (click)="exportToExcel()">Export</button>
          <button type="button" class="btn btn-outline-primary" (click)="exportAllToExcel()">Export All</button>
        </div>
      </div>
      <div>
        <div class="show-table">
          <table class="table table-hover table-bordered mt-4">
            <thead>
            <tr class="group-header">
              <th class="text-center" scope="col"></th>
              <th class="text-center" colspan="3" scope="col">Source</th>
              <th class="text-center" colspan="3" scope="col">Result</th>
              <th class="text-center" colspan="3" scope="col">Target</th>
              <th class="text-center" colspan="3" scope="col"></th>
            </tr>
            <tr>
              <th class="text-center" scope="col"><input class="" type="checkbox" [checked]="getCheckAllItem()" (click)="selectItemAllItems($event)"/></th>
              <th class="text-center" scope="col">DB</th>
              <th class="text-center" scope="col">Schema</th>
              <th class="text-center" scope="col">Table</th>

              <th class="text-center" scope="col">Count</th>
              <th class="text-center" scope="col">Status <i class={{sortIcon}} (click)="sortNumberDiff()"></i></th>
              <th class="text-center" scope="col">Count</th>

              <th class="text-center" scope="col">DB</th>
              <th class="text-center" scope="col">Schema</th>
              <th class="text-center" scope="col">Table</th>

              <th class="text-center" scope="col">Division</th>
              <th class="text-center th-msg-info" scope="col">Last Message Info</th>
              <th class="text-center th-updated-date" scope="col">Last Update</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let doc of viewCompareResults" style="height: 51px;">
              <td class="text-center">
                <input class="" type="checkbox" id="checkboxNoLabel" [checked]="doc.checked" (click)="selectItem($event, doc)" (mouseup)="onSelectionEnd($event, doc)"/>
              </td>
              <td><span class="cursor" (dblclick)="dbclickToSelectSourceDB(doc)">{{ (this.doc.sourceCompareDatabase == '' || this.doc.sourceCompareDatabase == null)
                ? this.doc.syncRdId ? this.doc.rdSourceDatabase : this.doc.sourceDatabase
                : this.doc.sourceCompareDatabase }}</span></td>
              <td><span class="cursor" (dblclick)="dbclickToSelectSourceSchema(doc)">{{ doc.syncRdId ? doc.rdSourceSchema : doc.sourceSchema }}</span></td>
              <td>
                <div class="sync-name-info">
                  <span class="cursor" (dblclick)="dbclickToSelectSourceTable(doc)">{{ doc.syncRdId ? doc.rdSourceTable : doc.sourceTable }}</span>
                  <i class="bi bi-info-circle" (click)="openSyncInfo(doc.id, doc.syncId)"></i>
                </div>
              </td>

              <td class="text-center">
                <span *ngIf="doc.comparisonState !== 'FAILED'">{{toLocalString(doc.sourceCount)}}</span>
              </td>
              <td class="text-center" (click)="openViewInfo(contentViewInfo, doc)">
                <span *ngIf="doc.comparisonState == 'SAME'" class="filter-status bg-success text-white">{{doc.comparisonState}}</span>
                <span *ngIf="doc.comparisonState == 'DIFFERENT'" ngbTooltip="source - target={{toLocalString(doc.sourceCount-doc.targetCount)}}"
                      class="filter-status bg-warning text-white">{{doc.comparisonState}}</span>
                <span *ngIf="doc.comparisonState == 'FAILED'" class="filter-status bg-danger text-white">{{doc.comparisonState}}</span>
              </td>
              <td class="text-center">
                <span *ngIf="doc.comparisonState !== 'FAILED'">{{ toLocalString(doc.targetCount)}}</span>
              </td>

              <td><span class="cursor" (dblclick)="dbclickToSelectTargetDB(doc)">{{ (this.doc.targetCompareDatabase == '' || this.doc.targetCompareDatabase == null)
                ? this.doc.syncRdId ? this.doc.rdTargetDatabase : this.doc.targetDatabase
                : this.doc.targetCompareDatabase }}</span></td>
              <td><span class="cursor" (dblclick)="dbclickToSelectTargetSchema(doc)">{{ doc.syncRdId ? doc.rdTargetSchema : doc.targetSchema }}</span></td>
              <td>
                <div class="sync-name-info">
                  <span class="cursor" (dblclick)="dbclickToSelectTargetTable(doc)">{{ doc.syncRdId ? doc.rdTargetTable : doc.targetTable }}</span>
                  <i class="bi bi-info-circle" (click)="openSyncInfo(doc.id, doc.syncId)"></i>
                </div>
              </td>

              <td class="text-center"><span class="cursor" (dblclick)="dbclickToSelectDivision(doc)">{{ doc.division }}</span></td>

              <td class="last-msg-info-col">
                <div class="last-msg-info">
                  <span class="ellipsis-name">{{doc.receivedDateTime | date: 'yyyy.MM.dd / HH:mm'}}</span>
                  <i class="bi bi-info-circle" (click)="openLastMsgInfo(lastMsgInfo, doc)"></i>
                </div>
              </td>

              <td class="col-date text-center">{{doc.lastModified | date: 'yyyy.MM.dd / HH:mm'}}</td>
            </tr>
            </tbody>
          </table>
          <div class="no-data" *ngIf="totalPage===0">No data</div>
        </div>
        <app-pavigation [totalPage]="totalPage" [currentPage]="currentPage" (onChangePage)="handleChangePage($event)"
                        (onChangePageSize)="handleChangePageSize($event)"></app-pavigation>
      </div>

    </div>
  </div>
</div>

<ng-template #contentSchedule let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title-content">DB Comparison Setting</h4>
    <div>Time server: {{timeOnServer}}</div>
    <button type="button" class="close" aria-label="Close" (click)="openSchedule$.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div style="max-height: 500px; overflow: auto;" class="border">
      <div class="d-flex justify-content-around align-items-center" *ngFor="let item of schedules;let i=index">
        <label>Compare
          <span>{{i + 1}}<sup>{{getSTT(i)}}</sup></span>
          time</label>
        <ngb-timepicker [(ngModel)]="item.timeDisplay" name="item.timeDisplay"></ngb-timepicker>
        <i class="bi bi-x-lg remove-rd" (click)="removeSchedule(i)" *ngIf="schedules.length > 1"></i>
      </div>
    </div>
    <div class="add-new-schedule mt-2">
      <button type="button" class="btn btn-outline-primary" (click)="addNewSchedule()">+</button>
    </div>
  </div>
  <div class="modal-footer d-flex justify-content-center">
    <button type="button" class="btn btn-outline-primary" (click)="onSaveSetting()">Save</button>
    <button type="button" class="btn btn-outline-secondary" (click)="openSchedule$.close('Ok click')">Cancel</button>
  </div>
</ng-template>

<ng-template #contentViewInfo let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title-contentViewInfo">Information</h4>
    <button type="button" class="close" aria-label="Close" (click)="onCloseSetting()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="resultQuickRunSource">Source Query Result: {{resultQuickRunSource}}</div>
    <div *ngIf="resultQuickRunTarget">Target Query Result: {{resultQuickRunTarget}}</div>
    <div class="synInfo-container">
      <table class="table table-hover">
        <tr>
          <td>Source Query:</td>
          <td>
            <div>{{quickViewInfo.sourceQuery}}</div>
          </td>
          <td><i class="bi bi-clipboard" (click)="copy(quickViewInfo.sourceQuery)"></i></td>
          <td>
            <button type="button" class="btn btn-outline-primary" (click)="quickRunSourceQuery()">Run</button>
          </td>
        </tr>
        <tr>

          <td>Target Query:</td>
          <td>
            <div>{{quickViewInfo.targetQuery}}</div>
          </td>
          <td><i class="bi bi-clipboard" (click)="copy(quickViewInfo.targetQuery)"></i></td>
          <td>
            <button type="button" class="btn btn-outline-primary" (click)="quickRunTargetQuery()">Run</button>
          </td>
        </tr>
      </table>
    </div>
  </div>
</ng-template>

<ng-template #lastMsgInfo let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title-lasmsg">Last Message Info</h4>
    <button type="button" class="close" aria-label="Close" (click)="onCloseModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="info-text2">
      <div class="col1">
        <div>Last received date:</div>
        <div>Last received time:</div>
        <div>Last SCN:</div>
        <div>Last Commit SCN:</div>
        <div>Last Kafka Timestamp:</div>
      </div>
      <div class="col2" *ngIf="viewLastMessageInfo">
        <div>{{viewLastMessageInfo.receivedDate | date: 'yyyy.MM.dd'}}</div>
        <div>{{viewLastMessageInfo.receivedTime}}</div>
        <div>{{viewLastMessageInfo.scn === 0 ? 'N/A' : viewLastMessageInfo.scn}}</div>
        <div>{{viewLastMessageInfo.commitScn === 0 ? 'N/A' : viewLastMessageInfo.commitScn}}</div>
        <div>{{(viewLastMessageInfo.msgTimestamp) ? (viewLastMessageInfo.msgTimestamp | date: 'yyyy.MM.dd / HH:mm' : '+9') : 'N/A' }}</div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="onCloseModal()">Cancel</button>
  </div>
</ng-template>

<ng-template #viewKafkaConsumerGroup let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Top heavy topics</h4>
    <button type="button" class="close" aria-label="Close" (click)="onCloseModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="info-text-body">
      <table class="table table-hover table-bordered">
        <th class="text-center">Topic</th>
        <th>Message Behind</th>
        <th>Last Received Message</th>
        <tr *ngFor="let kafkaInfo of viewKafkaConsumerGroups">
          <td>{{kafkaInfo.topic}}</td>
          <td>{{toLocalString(kafkaInfo.messagesBehind)}}</td>
          <td>
            {{(kafkaInfo.receivedDate) ? (kafkaInfo.receivedDate | date: 'yyyy.MM.dd') + ' / ' : '' }}
            {{(kafkaInfo.receivedTime) ? (kafkaInfo.receivedTime) : '' }}
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="onCloseModal()">Cancel</button>
  </div>
</ng-template>
