.card-main-content {
  min-height: calc(100vh - 155px);
}

.content {
  background-color: white;
  min-width: 1421px;
  .toolbar {
    .left {
      i {
        margin-right: 5px;
      }
      span {
        font-size: 14px;
        font-weight: bold;
      }
    }
  }
  .search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 1em;
    column-gap: 20px;
    .oracle-postgres-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0 20px;
        .oracle-postgres-inputs {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 0 80px;
            flex: 1;
            span {
                margin-right: 5px;
                min-width: 150px;
                display: inline-block;
            }
            .column-id {
              display: flex;
              align-items: center;
              justify-content: space-between;
            }
        }
        .title {
            min-width: 180px;
        }
    }
  }

  .search-area {
    display: flex;
    align-items: center;
    .text-search {
      // width: 200px;
      margin-right: 20px;
    }
    span {
      margin-right: 10px;
    }
    button {
      margin-left: 10px;
    }
    select {
      width: 400px;
    }
  }
}

.query-builder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .query-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 5px;
    span {
      min-width: 150px;
    }
    input[type="text"] {
      flex: 1;
    }
  }
}

.display-result {
  .operation-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .status {
      font-size: initial;
    }
    .op-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0 50px;
    }
  }
  .mr-5 {
    margin-right: 5px;
  }
}

.flex-1 {
    flex: 1;
}

table {
  th {
    height: 30px;
    border-right:  1px solid var(--cui-table-border-color);
    padding: 0.9em;
  }
}

.showtable-scroll {
  overflow: auto;
  max-height: calc(100vh - 200px);
  min-height: 100px;
}

.error-row {
  color: red;
  cursor: pointer;
}

.bi {
  cursor: pointer;
}

.search {
  display: flex;
  gap: 0 20px;
  align-items: center;
  justify-content: center;
}
