<div class="card card-body mx-3 mb-3 mt-0 border-top-0 pt-0">
  <div class="card card-body">
    <app-header-search (filter)="handleFilter($event)"
                       [modeActiveTab]="'2'"
                       [targetDB]="targetDB"
                       [targetSchema]="targetSchema"
                       [tables]="tables"
    ></app-header-search>
  </div>
</div>

<div class="card card-body m-3 card-main-content">
<div class="d-flex justify-content-between align-items-center">
    <div>Total: {{totalSchedules}}</div>
    <div class="btns">
        <button type="button" class="btn btn-outline-primary" (click)="scheduleAll()">Run All</button>
        <label class="spacer-line">|</label>
        <button type="button" class="btn btn-outline-primary mr-5" (click)="registerNewSchedule(contentViewInfo)">Register a new Schedule</button>
        <button type="button" class="btn btn-outline-primary" (click)="deleteSelectedItems()">Delete Schedule item</button>
    </div>
</div>

<div class="">
    <table class="table table-hover table-bordered mt-4">
      <thead>
        <tr>
          <th class="text-center" scope="col"><input class="" type="checkbox" [checked]="getCheckAllItem()" id="checkboxNoLabel" (click)="selectItemAllItems($event)" /></th>
          <th class="text-center" scope="col">Name</th>
          <th class="text-center" scope="col">PL SQL</th>
          <th class="text-center" scope="col">DB</th>
          <th class="text-center" scope="col">Status</th>
          <th class="text-center" scope="col">Schedule</th>
          <th class="text-center" scope="col">Created</th>
          <th class="text-center" scope="col">Updated</th>
          <th class="text-center" scope="col">Created User</th>
          <th class="text-center" scope="col">Updated User</th>
          <th class="text-center" scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let doc of registedSchedule" style="height: 51px;">
          <td class="text-center">
            <input [ngClass]="{'is-invalid' : invalidSQL}" type="checkbox" id="checkboxNoLabel" [checked]="doc.checked" (click)="selectItem($event, doc)"/>
          </td>
          <td >{{ doc.name }}</td>
          <td class="sql-col">
            <div class="sync-name-info" ngbTooltip="{{doc.plSQL}}">
              <span class="ellipsis-name" >{{doc.plSQL}}</span>
            </div>
          </td>
          <td>{{ doc.db }}</td>
          <td class="text-center small-cold">
            <span *ngIf="doc.status" class="filter-status bg-success text-white">SCHEDULED</span>
            <span *ngIf="!doc.status" class="filter-status bg-secondary text-white">STOPPED</span>
          </td>
          <td class="large-cold">
            {{getTypeName(doc.type)}}
            <span *ngIf="doc.type === 0">{{doc.timeDaily}}</span>
            <span *ngIf="doc.type === 1">[<span style="color: cadetblue;">{{doc.dayOfWeek}}</span>] {{doc.timesOfWeek}}</span>
            <span *ngIf="doc.type === 2">{{parseScheduleDisplay(doc.monthly)}}</span>
            <span *ngIf="doc.type === 3">{{parseScheduleDisplay(doc.quarterly)}}</span>
            <span *ngIf="doc.type === 4">{{parseScheduleDisplay(doc.yearly)}}</span>
          </td>
          <td class="text-center small-cold">{{doc.createdAt | date:'yyyy-MM-dd / HH:mm' }}</td>
          <td class="text-center small-cold">{{doc.updatedAt | date:'yyyy-MM-dd / HH:mm' }}</td>
          <td class="text-center small-cold">{{doc.createdUser}}</td>
          <td class="text-center small-cold">{{doc.updatedUser}}</td>
          <td class="text-center small-cold"><span style="text-decoration: underline; cursor: pointer;" (click)="onEdit(doc, contentViewInfo)">Edit</span></td>
        </tr>
      </tbody>
    </table>
    <div class="no-data" *ngIf="totalPage===0">No data</div>
    <app-pavigation [totalPage]="totalPage" [currentPage]="currentPage" (onChangePage)="handleChangePage($event)"
                    (onChangePageSize)="handleChangePageSize($event)"></app-pavigation>
</div>
</div>
<ng-template #contentViewInfo let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Schedule Registration</h4>
    <div>Time server: {{timeOnServer}}</div>
    <button type="button" class="close" aria-label="Close" (click)="onCloseSetting()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="registration-container">
      <div class="row d-flex align-items-stretch">
        <div class="col-5">
          <div class="card card-body h-100">
            <div class="form">
              <div class="d-flex align-items-center mb-3">
                <label for="name" class="control-label">Name</label>
                <div class="flex-grow-1">
                  <input class="form-control custom-control-inline" [(ngModel)]="newSchedule.name" type="text" id="name" placeholder="name">
                </div>
              </div>
              <div class="d-flex align-items-center mb-3">
                <label for="sql" class="control-label required">PL SQL</label>
                <div class="flex-grow-1">
                  <input class="form-control custom-control-inline" [ngClass]="{'is-invalid' : invalidSQL}" [(ngModel)]="newSchedule.plSQL" type="text" id="sql"
                         placeholder="PL SQL">
                </div>
              </div>
              <div class="d-flex align-items-center mb-3">
                <label class="control-label required">DB</label>
                <div class="flex-grow-1">
                  <app-auto-complete [items]="serverNames"
                                     [invalidInput]="invalidDB"
                                     [chooseItem]="newSchedule.db"
                                     (clearSelected)="newSchedule.db=''"
                                     (selectedItem)="newSchedule.db=$event">
                  </app-auto-complete>
                </div>

              </div>
              <div class="d-flex align-items-center mb-3">
                <label class="control-label ">Status</label>
                <input type="radio" id="Schedule" name="newSchedule.status" [value]="true" (click)="changeStatus(true)" [checked]="newSchedule.status">
                <label for="Schedule" class="ms-2">Schedule</label>
                <input type="radio" id="Stopped" name="newSchedule.status" [value]="false" (click)="changeStatus(false)" [checked]="!newSchedule.status">
                <label for="Stopped" class="ms-2">Stop</label>
              </div>

              <div class="text-danger" style="padding-left: 80px" *ngIf="newSchedule && errorMsgInput">{{errorMsgInput}}</div>

              <div class="d-flex justify-content-center mt-4">
                <button class="btn btn-outline-primary" type="button" (click)="testScript()">
                  Test Script
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-7">
        <div class="card card-body h-100">
          <div class="right">
            <div class="tabs">
              <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item mx-auto" role="presentation">
                  <button class="nav-link {{newSchedule.type===0 ? 'active' : ''}}" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
                          type="button" role="tab" aria-controls="pills-home" aria-selected="true" (click)="newSchedule.type=0; onGetTimeOnServer();">
                    Days
                  </button>
                  <span class="spacer-line">|</span>
                  <button class="nav-link {{newSchedule.type===1 ? 'active' : ''}}" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
                          type="button" role="tab" aria-controls="pills-home" aria-selected="true" (click)="newSchedule.type=1;">
                    Weeks
                  </button>
                  <span class="spacer-line">|</span>
                  <button class="nav-link {{newSchedule.type===2 ? 'active' : ''}}" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
                          type="button" role="tab" aria-controls="pills-home" aria-selected="true" (click)="newSchedule.type=2; initMonthy();">
                    Monthly
                  </button>
                  <span class="spacer-line">|</span>
                  <button class="nav-link {{newSchedule.type===3 ? 'active' : ''}}" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
                          type="button" role="tab" aria-controls="pills-home" aria-selected="true" (click)="newSchedule.type=3; initQuaterly()">
                    Quarterly
                  </button>
                  <span class="spacer-line">|</span>
                  <button class="nav-link {{newSchedule.type===4 ? 'active' : ''}}" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
                          type="button" role="tab" aria-controls="pills-home" aria-selected="true" (click)="newSchedule.type=4; initYearly()">
                    Yearly
                  </button>
                </li>
              </ul>
            </div>

            <div class="tabs-body">
              <!-- for daily -->
              <div class="active-day-tab" *ngIf="newSchedule.type===0">
                <div class="error-msg">{{errorMsgDaily}}</div>
                <div class="schedule-items">
                  <div class="d-flex justify-content-around align-items-center" *ngFor="let item of schedulesDaily;let i=index">
                    <label>
                      <span>{{i + 1}}<sup>{{getSTT(i)}}</sup></span>
                      time</label>
                    <ngb-timepicker [(ngModel)]="item.timeDisplay" name="item.timeDisplay"></ngb-timepicker>
                    <i class="bi bi-x-lg remove-rd" (click)="schedulesDaily.splice(i, 1)"></i>
                  </div>
                </div>
                <div class="add-new-schedule">
                  <button type="button" class="btn btn-outline-primary" (click)="addNewSchedule()">+</button>
                </div>
              </div>
              <!-- for weekly -->
              <div class="active-scheduler-tab" *ngIf="newSchedule.type===1">
                <div class="error-msg">{{errorMsgWeek}}</div>
                <div class="day-of-week">
                  <div class="day-of-week-header">
                    <span *ngFor="let day of dayOfWeeks" [class.active]="day.actived" (click)="selectDayOfWeek(day)">
                        {{day.name}}
                    </span>
                  </div>

                  <div class="day-of-week-body">
                    <div class="d-flex justify-content-around align-items-center" *ngFor="let item of schedulesOfWeek;let i=index">
                      <label><span>{{i + 1}}<sup>{{getSTT(i)}}</sup></span> time</label>
                      <ngb-timepicker [(ngModel)]="item.timeDisplay" name="item.timeDisplay"></ngb-timepicker>
                      <i class="bi bi-x-lg remove-rd" (click)="schedulesOfWeek.splice(i, 1)"></i>
                    </div>
                  </div>
                  <div class="add-new-schedule-dayofweek">
                    <button type="button" class="btn btn-outline-primary" (click)="addNewScheduleDayOfWeek()">+</button>
                  </div>
                </div>
              </div>
              <!-- for monthly -->
              <div class="active-scheduler-tab" *ngIf="newSchedule.type===2">
                <div class="error-msg">{{errorMsgMonth}}</div>
                <div class="day-of-month schedule-items">
                  <div class="day-of-month-body">
                    <div class="d-flex justify-content-around align-items-center" *ngFor="let item of newSchedule.schedulesOfMonth;let i=index">
                      <div>
                        <div *ngIf="i===0" class="monthy-lastday d-flex align-items-center">
                          <input type="checkbox" [checked]="item.isLastDay" (change)="changeLastDay($event, item)" id="flexCheckChecked">
                          <label class="form-check-label" for="flexCheckChecked">last day</label>
                        </div>
                        <div *ngIf="i>0" style="width: 150px;" class="group-monthy">
                          <label><span>{{i}}<sup>{{getSTT(i - 1)}}</sup></span></label>
                          <span>day</span>
                          <input class="form-control input-day" [(ngModel)]="item.day" type="text">
                        </div>
                      </div>

                      <div class="d-flex justify-content-between align-items-center" style="width: 200px;">
                        <span>time</span>
                        <ngb-timepicker [(ngModel)]="item.timeDisplay" name="item.timeDisplay"></ngb-timepicker>
                        <i *ngIf="i===0" class="bi bi-x-lg remove-rd" style="visibility: hidden;"></i>
                        <i *ngIf="i>0" class="bi bi-x-lg remove-rd" (click)="newSchedule.schedulesOfMonth.splice(i, 1)"></i>
                      </div>
                    </div>
                  </div>
                  <div class="add-new-schedule-dayofweek">
                    <button type="button" class="btn btn-outline-primary" (click)="addNewScheduleMonth()">+</button>
                  </div>
                </div>
              </div>
              <!-- for Quarterly -->
              <div class="active-scheduler-tab" *ngIf="newSchedule.type===3">
                <div class="error-msg">{{errorMsgQuaterly}}</div>
                <div class="quarterly schedule-items">
                  <div class="quarterly-row d-flex justify-content-around align-items-center" *ngFor="let item of newSchedule.schedulesOfQuarterly;let i=index">
                    <div class="quarterly-month">
                      <span>{{i + 1}} <sup>{{getSTT(i)}}</sup></span>
                      <div class="d-flex align-items-center justify-content-around">
                        <span>month</span>
                        <input class="form-control input-day" [(ngModel)]="item.month" type="text">
                      </div>
                    </div>
                    <div class="quarterly-day">
                      <span>day</span>
                      <input class="form-control input-day" [attr.disabled]="item.day===getLastDay() ? '' : null" [(ngModel)]="item.day" type="text">
                      <div class="d-flex align-items-center justify-content-around">
                        <input type="checkbox" [checked]="item.isLastDay" (change)="changeLastDay($event, item)" id="flexCheckChecked-{{i}}">
                        <label class="form-check-label lastday" for="flexCheckChecked-{{i}}">last day</label>
                      </div>
                    </div>
                    <div class="quaterly-time">
                      <span>time</span>
                      <ngb-timepicker [(ngModel)]="item.timeDisplay" name="item.timeDisplay"></ngb-timepicker>
                    </div>
                    <i class="bi bi-x-lg remove-rd" (click)="newSchedule.schedulesOfQuarterly.splice(i,1)"></i>
                  </div>
                </div>
                <div class="add-new-schedule-dayofweek">
                  <button type="button" class="btn btn-outline-primary" (click)="addNewScheduleQuarterly()">+</button>
                </div>
              </div>
              <!-- for Year -->
              <div class="active-scheduler-tab" *ngIf="newSchedule.type===4">
                <div class="error-msg">{{errorMsgYearly}}</div>
                <div class="quarterly schedule-items">
                  <div class="quarterly-row d-flex justify-content-around align-items-center" *ngFor="let item of newSchedule.schedulesOfYear;let i=index">
                    <div class="quarterly-month">
                      <span>{{i + 1}} <sup>{{getSTT(i)}}</sup></span>
                      <div class="d-flex align-items-center justify-content-around">
                        <span>month</span>
                        <input class="form-control input-day" [(ngModel)]="item.month" type="text">
                      </div>
                    </div>
                    <div class="quarterly-day">
                      <span>day</span>
                      <input class="form-control input-day" [attr.disabled]="item.day===getLastDay() ? '' : null" [(ngModel)]="item.day" type="text">
                      <div class="d-flex align-items-center justify-content-around">
                        <input type="checkbox" [checked]="item.isLastDay" (change)="changeLastDay($event, item)" id="flexCheckChecked-{{i}}">
                        <label class="form-check-label lastday" for="flexCheckChecked-{{i}}">last day</label>
                      </div>
                    </div>
                    <div class="quaterly-time">
                      <span>time</span>
                      <ngb-timepicker [(ngModel)]="item.timeDisplay" name="item.timeDisplay"></ngb-timepicker>
                    </div>
                    <i class="bi bi-x-lg remove-rd" (click)="newSchedule.schedulesOfYear.splice(i,1)"></i>
                  </div>
                </div>
                <div class="add-new-schedule-dayofweek">
                  <button type="button" class="btn btn-outline-primary" (click)="addNewScheduleYearly()">+</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer d-flex justify-content-center align-items-center">
    <button class="btn btn-outline-primary" type="button" (click)="onSaveSchedule()">Save</button>
    <button class="btn btn-outline-secondary" type="button" (click)="onCloseSetting()">Cancel</button>
  </div>
</ng-template>
