.show-content {
    overflow: auto;
    margin: 1em;
}

table {
    th {
      height: 30px;
      border-right:  1px solid var(--cui-table-border-color);
      padding: 0.9em;
    }
  }

.correction-type {
    padding: 1em;
    span {
        margin-right: 10px;
    }
}
