
<div class="modal-header">
    <h4 class="modal-title">Comparison Info</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('cancel')">
      <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
  <div class="correction-type">
    <span>Correction Type</span>
    <span *ngIf="doc.operation==='DELETE'" class="status bg-danger text-white">{{doc.operation}}</span>
    <span *ngIf="doc.operation==='INSERT'" class="status bg-success text-white">{{doc.operation}}</span>
    <span *ngIf="doc.operation==='UPDATE'" class="status bg-warning text-white">{{doc.operation}}</span>
  </div>
  <div class="show-content">
    <table class="table table-hover table-bordered mb-5">
      <thead>
      <th class="text-center" scope="col"></th>
      <th class="text-center" scope="col" *ngFor="let h of headers">{{h}}</th>
      </thead>
      <tbody>
      <tr>
        <td style="font-weight: bold;">Oracle</td>
        <td *ngFor="let row of rowOracles"><span [class.text-warning]="row.notMatch">{{row.value}}</span></td>
      </tr>
      <tr>
        <td style="font-weight: bold;">Postgres</td>
        <td *ngFor="let row of rowPostgres"><span [class.text-warning]="row.notMatch">{{row.value}}</span></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
