<div class="char-container">
  <div class="ms-2">
    <input type="checkbox"  class="mb-4" id="offKafka" (change)="_toggleLineKafka()"/>
    <label for="offKafka" class="ms-2">Hide Kafka line</label>
    <input type="checkbox" class="mb-4" id="offProcessed" (change)="_toggleLineProcessed()" style="margin-left: 20px;"/>
    <label for="offProcessed" class="ms-2">Hide Processed line</label>
  </div>

    <div *ngIf="chartOptions" id="chart" class="mt-3">
        <apx-chart
            [series]="chartOptions.series"
            [toolbar]="chartOptions.toolbar"
            [chart]="chartOptions.chart"
            [labels]="chartOptions.labels"
            [colors]="chartOptions.colors"
            [title]="chartOptions.title"
            [dataLabels]="chartOptions.dataLabels"
            [theme]="chartOptions.theme"
            [fill]="chartOptions.fill"
            [xaxis]="chartOptions.xaxis"
            [yaxis]="chartOptions.yaxis"
            [stroke]="chartOptions.stroke"
            [legend]="chartOptions.legend"
            [plotOptions]="chartOptions.plotOptions"
            #chartObj
        ></apx-chart>
    </div>
</div>
