.multiselect-dropdown {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;

  .clearSelection {
    position: absolute;
    right: 2px;
    top: 9px;
  }
}

.selected-item-container {
  padding: 2px !important;
}