<div class="modal-header">
  <h4 class="modal-title">Create table publication</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('cancel')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body p-4">
  <div class="mb-3">
    <label class="control-label">Database</label>
    <app-auto-complete [items]="popupDbName"
                       (selectedItem)="dataFilled.db=$event"
                       (clearSelected)="dataFilled.db=''"
                       (selectedItem)="handleSelectDBPopup($event)">
    </app-auto-complete>
  </div>

  <div class="mb-3">
    <label class="control-label">Publication name</label>
    <app-auto-complete [items]="popupPublications"
                       (selectedItem)="dataFilled.pubname=$event"
                       [chooseItem]="dataFilled.pubname"
                       (clearSelected)="dataFilled.pubname=''">
    </app-auto-complete>
  </div>

  <div class="mb-3">
    <label class="control-label" for="tables">Table(s)</label>
    <input class="form-control" placeholder="Table" name="tables" id="tables" [(ngModel)]="dataFilled.tables">
    <small class="text-muted ps-1">Split table by comma (,). Pattern: &lt;Schema&gt;.&lt;Table&gt;</small>
  </div>

  <div class="text-danger">
    {{error}}
  </div>
</div>

<div class="modal-footer justify-content-center">
  <button type="button" class="btn btn-outline-primary" (click)="save()">Save</button>
  <button type="button" class="btn btn-outline-primary" (click)="activeModal.dismiss('cancel')">Cancel</button>
</div>
